Homepage: Tool
Depiction: cbeios
Author: Cbeios
Maintainer: t.me/cbeios
Name: Unity Leak Il2cpp
Package: dynamic.leak
Depends: firmware (>= 8.0)
Section: Utilities
Architecture: iphoneos-arm
Description: cbeios
DEV: cbeios
